.dataclass{
color: aquamarine;
}
body{
    background-color:blueviolet;
}
/*@media print{
    body{
        text-decoration: underline !important;
    }
}*/
.giorno{
    background-color: white;
    color: black;
    }